@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
	background-color: #323232;
	color: #c0c0c0;
	width: 16rem;
	min-height: 8rem;
	padding-bottom: 1rem;
	text-align: center;
}

.bottom a {
	position: absolute;
	bottom: 0.3rem;
	color: inherit;
	text-decoration: inherit;
}
.bottom a:first-of-type {
	left: 2rem;
}
.bottom a:last-of-type {
	right: 2rem;
}
.bottom a:hover,
.bottom a:focus {
	text-decoration: underline;
}
